<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lab 6 - PseudoLW Page</title>
</head>
<body>
	<p>Hello, Apa kabar?</p>
	<h1>Submit form here</h1>
	<form action="submit" method="post">
		{% csrf_token %}
		<input type="text" name="text">
		<input type="submit">
	</form>
	<h1>Submitted status</h1>
	<ul>
		{% for status in statuses %}
		<li>{{ status.text }}</li>
		{% endfor %}
	</ul>
</body>
</html>